/* GENERELT */

html,
body {
  margin: 0 auto;
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  color: black;
}

p,
ul {
  font-family: "Arimo", sans-serif;

  line-height: 40px;
}

/* BUTTON https://codepen.io/valentingalmand/pen/ggKrpY */

button {
  width: 200px;
  margin: 30px;
  padding: 20px 40px;
  background: none;
  border: none;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  cursor: pointer;
}
button:after,
button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 2px solid #000;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
button:after {
  -webkit-transform: translate(3px, 3px);
  transform: translate(3px, 3px);
}
button:before {
  -webkit-transform: translate(-3px, -3px);
  transform: translate(-3px, -3px);
}
button:hover:after,
button:hover:before {
  -webkit-transform: translate(0);
  transform: translate(0);
}

/* GENERELT SLUT */
/* MENU */

#menu {
  font-size: 40px;
  cursor: pointer;
  margin: 20px 0 0 25px;
  display: flex;
  flex-direction: row;
  color: black;
  /*    position: fixed;*/
}

nav a {
  font-family: "Playfair Display", serif;
  color: black;
  text-decoration: none;
  border: none;
  background-color: inherit;
  font-size: 30px;
  padding: 0;
  display: block;
  cursor: pointer;
  line-height: 2;
  width: 150px;
  text-align: left;
  color: white;
}

nav a:hover {
  transform: scale(1.03);
}

.dropdown-content a {
  color: white;
  margin-bottom: 5px;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  /*    background-color: rgba(232, 225, 210, 0.92);*/
  background-color: rgba(0, 0, 0, 0.897);
  transition: 0.5s;
}

.overlaycontent {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 50%;
  display: none;
  margin: 10px 0 0 75px;
  line-height: 2;
}

.dropdown-content {
  /*    display: none;*/
  margin: 0 auto;
  flex-direction: column;
  padding: 0;
  color: white;
}

.closebtn {
  font-size: 90px;
  display: none;
  background-color: transparent;
  line-height: 0;
  margin: 20px 0 20px 190px;
}

.menupunkter1 a {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding-top: 2.5em;
  padding-bottom: 1.7em;

  margin: 0 3em 1em 2em;

  text-decoration: none;

  position: relative;
}

.menupunkter1 a:first-of-type {
  margin-right: 150px;
}

.menupunkter1 a:hover {
  color: black;
}

.menupunkter1 a::before {
  content: "";
  display: block;
  height: 0.2em;

  background-color: black;

  position: absolute;

  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

.menupunkter1 a:hover::before {
  width: 100%;
}

#section1 {
  display: flex;
  flex-direction: row;
}

#section1 h2 {
  text-decoration: underline;
}

.text {
  width: 0;
  font-size: 40px;
  margin: 80px 0 0 150px;
  white-space: nowrap;
  line-height: 50px;
  z-index: 1;
}

.second {
  margin-left: auto;
  margin-right: 0;
  width: 74vw;
  height: 350px;
  background-color: #eee2dc;
}

/* MENU SLUT */

/* FORSIDE  */

.buttonflow {
  display: flex;
  flex-direction: row;
}

i {
  font-size: 60px;
  transition: 0.3s ease-in-out;
  margin-top: 35px;
}
i:hover {
  opacity: 0.4;
  transition: 0.3s ease-in-out;
}

#arrow {
  color: black;
  width: 100vw;
  height: 200px;
  position: relative;
  margin-top: -35px;
  text-align: center;
  animation: jump 2s infinite;
}

@keyframes jump {
  0% {
    top: 0;
  }
  50% {
    top: 15px;
  }
  100% {
    top: 0;
  }
}

#section2 {
  margin-top: 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#section3 {
  position: relative;
  z-index: 10;
  clip-path: polygon(0 0, 100% 0, 100% calc(90% - 10vw), 0 90%);
  margin-bottom: -10vw;
}

#section3 img {
  width: 100%;
  height: 100%;
}

.boxes {
  background-color: rgb(245, 245, 245);
  width: 80vw;

  margin: 0 auto;
  padding: 10px 0 30px 0;
}

.box1 {
  display: flex;
  flex-direction: row;
  position: relative;
  /* display: inline-block; */
  margin: 60px 0 0 100px;
}

.box2 {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  /* display: inline-block; */
  margin: 60px 100px 0 0;
}

.top:hover {
  opacity: 0.7;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.bottom p {
  margin: 0 30px 0 30px;
}

.caption {
  position: absolute;
  top: 50%;
  left: 21%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 150px;
  border: 3px solid white;
  color: white;
  font-weight: bold;
}
.caption1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  max-width: 800px;
  font-size: 50px;
  color: white;
  font-weight: bold;
}
.caption2 {
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 150px;
  border: 3px solid white;
  color: white;
  font-weight: bold;
}

span {
  text-decoration: underline;
}

#section4 {
  margin-top: 100px;

  width: 100%;
}

#section4 img {
  width: 30vw;
  height: 30vw;
}

#section4 h2 {
  display: flex;
  justify-content: center;
  align-content: center;
}

.totop {
  display: flex;
  justify-content: center;
  margin: 60px 0 40px 0;
}
/* FORSIDE */
/* OM */
#parent {
  display: flex;
  flex-direction: row;
  /* height: 700px; */
  padding: 30px 0 0 100px;
}

/* .child1 {
  margin-top: -150px;
} */

#section5 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  /* height: 800px; */
  margin: 100px 50px 100px 50px;
}

#section5 img {
  width: 50vw;
  height: 100%;
}

#section5 h2 {
  text-decoration: underline;
  font-size: 40px;
  margin-left: 40px;
}

#section5 ul {
  font-size: 20px;
  list-style-type: none;
}

.text3 {
  width: 600px;
  height: 450px;
  background-color: lightcyan;
  text-align: left;
  margin: 60px 0 0 -550px;
}

.webdevtext {
  max-width: 550px;
  margin-left: 47px;
}

.webdevtext p {
  margin-left: 40px;
}

.contactinfo {
  width: 400px;
  height: 150px;
  background-color: lightgray;
  margin: 0 auto;
}

/* OM */

/* CV */
.timeline {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 550px;
  padding-top: 40px;
  background-color: #f3f3f3;
  position: relative;
  z-index: 10;
  clip-path: polygon(0 0, 100% 0, 100% calc(90% - 10vw), 0 90%);
  margin-bottom: -10vw;
}

.timeline img {
  width: 60vw;
  height: 55vh;
}
.timelinechild {
  padding-right: 50px;
}

.cvbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 20px 0;
}

#section7 {
  /* width: 100vw; */
  /* height: 400px; */

  display: flex;

  margin: 100px 0 100px 200px;
}

.inforesp {
  display: flex;
  flex-direction: row;
}

#section7 h2 {
  font-size: 50px;
}

#section7 h3 {
  font-size: 40px;
  text-decoration: underline;
}

.info {
  display: flex;
  flex-direction: row;
}

.info p {
  max-width: 600px;
  line-height: 40px;
}

.mail {
  justify-content: flex-end;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: -150px;
}

/* CV */

/* FOOTER */
#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  /* 
  background-color: #eee2dc; */
  background-color: rgb(20, 20, 20);
  color: white;
}

#footer p {
  margin-top: 20px;
}

.icons {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.icons img {
  margin: 10px;
}

/* FOOTER */

/* MEDIA QUERIES */
@media screen and (min-width: 1100px) {
  .overlay {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  .menu2 {
    display: none;
  }

  .caption1 {
    font-size: 30px;
    max-width: 700px;
  }

  .box1 {
    flex-direction: column;
    margin: 20px 40px 20px 40px;
  }
  .top {
    margin: 0 auto;
  }

  .box2 {
    margin: 20px 40px 20px 40px;
    flex-direction: column;
  }

  #section7 {
    margin: -30px 0 30px 30px;
  }

  .caption {
    display: none;
  }
  .caption2 {
    display: none;
  }

  #parent {
    flex-direction: column;
    padding: 30px 100px;
  }

  .child1 img {
    width: 80vw;
    height: 100%;
    margin: 0 auto;
  }

  .timeline {
    /* height: 400px; */
  }

  #section5 {
    flex-direction: column;
    margin: 70px 0 30px 0;
  }
  #section5 img {
    display: none;
  }

  .text3 {
    margin: 0 auto;
  }
  .webdevtext p {
    max-width: 600px;
  }

  .info {
    flex-direction: column;
  }

  .mail {
    margin: 0 auto;
  }

  .topinfo {
    padding: 40px 0 0 50px;
  }

  #section7 {
    padding: 0px;
  }

  .inforesp {
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .text {
    font-size: 20px;
  }

  .buttonflow {
    flex-direction: column;
  }

  .caption1 {
    font-size: 16px;
  }

  .box1 {
    flex-direction: column;
    margin: 0 auto;
  }
  .top {
    margin: 0 auto;
    padding-top: 15px;
  }
  .bottom p {
    margin: 5px 20px 0 20px;
  }

  .box2 {
    flex-direction: column;
    margin: 0 auto;
  }

  .boxes {
    justify-content: center;
    align-items: center;
  }

  #section4 img {
    width: 60vw;
    height: 30vh;
    margin: 0 auto;
  }

  .caption {
    display: none;
  }

  .caption2 {
    display: none;
  }

  #section2 p {
    margin: 0 20px 0 20px;
  }

  #parent {
    padding: 10px 30px 0 30px;
  }

  .text {
    margin: 80px 0 0 60px;
  }
  .webdevtext {
    margin: 0px;
    padding: 10px 30px 0 0;
  }

  .contactinfo {
    width: 270px;
  }

  .text3 {
    width: 300px;
    height: 600px;
  }

  #section5 ul {
    list-style: circle;
  }

  .timeline {
    flex-direction: column-reverse;
    height: 750px;
  }

  .timelinechild {
    padding-left: 30px;
  }

  .timeline img {
    width: 100vw;
    height: 60vh;
  }
  #section7 h3 {
    font-size: 25px;
  }
  #section7 {
    margin: 0px;
  }

  .mail {
    margin: 0 auto;
  }

  .inforesp {
    display: flex;
    flex-direction: column;
  }

  .topinfo {
    padding: 0 30px 30px 30px;
  }

  #footer {
    flex-direction: column;
  }
  .icons {
    flex-direction: row;
  }
}
/* MEDIA QUERIES */
